.intro {
  background-image: linear-gradient(-45deg, #ec5252 0%, #6e1a52 100%);
  .how-udemy-work {
    color: white;
    display: flex;
    align-items: center;
    padding: 2rem 2.5rem;
    i {
      font-size: 4rem;
      margin-right: 2rem;
    }
    .detail {
      b {
        margin-bottom: 1rem;
        display: inline-block;
        font-size: 1.7rem;
      }
      p {
        margin-bottom: 0;
      }
    }
  }
  .how-udemy-work-2 {
    justify-content: center;
  }
  .how-udemy-work-3 {
    justify-content: flex-end;
  }

  @media (max-width: 992px) {
    display: none;
  }
}
