// Variable color
$xs: 576px;
$sm: 768px;
$md: 992px;
$lg: 1200px;

$color-primary: #ec5252;
$color-text-header: #505763;
$color-grey: #f2f3f5;
$color-border-grey: #dedfe0;
$color-border-grey-light: #e8e9eb;
$color-link: #007791;
$color-white-0: #fff;
$color-red-1: #521822;
$color-red-0: #ec5252;
$color-black: #29303b;
$color-text-header: #505763;
$color-grey: #f2f3f5;
$color-border-grey: #dedfe0;
$color-border-grey-light: #e8e9eb;
$color-link: #007791;
$color-gray-1: rgba(20, 23, 28, 0.05);
$color-gray-2: #a1a7b3;
$color-gray-3: #cacbcc;
$color-gray-4: #686f7a;
$color-gray-5: #f7f8fa;
$color-black-light: #505763;
$color-white-cream: #f2f3f5;
$color-yellow-1: #f4c150;
$color-black-dark: rgba(20, 23, 28, 0.1);

$color-text-2: #686f7a;
$color-text-1: #29303b;
$color-yellow-1: #f4c150;

$color-box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1);
$color-box-shadow-hover: 0 2px 8px 2px rgba(20, 23, 28, 0.2);
